.container{
    margin-left: 500px;
}
#top{
    display: flex;
   
    width: 850px;

}
#options{
   margin-left: 700px;
   margin-top: 5px;
}

#book{
    margin-left: 690px;
}

.icons{
    font-size: 30px;
}
.body_container{
    margin-top: 10px;
}