
.container{
    justify-content: center;
    margin: auto;
    background-color: #ECEAE9;
    width: 840px;
    
}
#top{
    display: flex;
   
    width: 850px;

}
#options{
   margin-left: 700px;
   margin-top: 5px;
}

#book{
    margin-left: 690px;
}

.icons{
    font-size: 30px;
}
.body_container{
    margin-top: 10px;
}